/* Default (Light) Theme using CSS Variables */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme styles applied automatically when the system prefers dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212; /* A dark gray is often better than pure black */
    --text-color: #e0e0e0; /* A light gray is often better than pure white */
  }
}

/* General styles using the variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  /* Add a smooth transition for theme switching */
  transition:
    background-color 0.3s,
    color 0.3s;
}

.text-logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
